Repository r-cz/iam-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier (bun)
  entry: bunx prettier
  language: system
  args:
  - --write
  - --ignore-unknown
  pass_filenames: true

eslint:
  name: eslint (typescript)
  entry: bunx eslint
  language: system
  args:
  - --max-warnings=0
  - --no-warn-ignored
  pass_filenames: true

fix: align changelog preset with semantic release
  bun.lock
  package.json
Due: prettier

fix: align changelog preset with semantic release (#428)
  bun.lock
  package.json
Due: prettier

Notes added by 'git notes add'
  c9a60733fc181f23530748cf3964d4bb58bb0fdd
Due: none

fix: handle protocol parsing and comparison edge cases
  src/features/ldap/utils/parse-ldif.ts
  src/features/redirect-uri/utils/redirect-uri.ts
  src/features/saml/utils/saml-decoder.ts
  src/features/saml/utils/signature-targets.ts
  src/features/scim/utils/patch.ts
  src/features/scim/utils/path.ts
  src/features/token-comparison/utils/token-comparison.ts
  src/features/totp/utils/totp.ts
  src/tests/features/ldap-parse-ldif.test.ts
  src/tests/features/redirect-uri.test.ts
  src/tests/features/saml-decoder.test.ts
  src/tests/features/scim-patch.test.ts
  src/tests/features/token-comparison.test.ts
  src/tests/features/totp-utils.test.ts
Due: prettier, eslint

fix: verify identity tokens and isolate asynchronous results
  e2e/tests/new-iam-tools.e2e.ts
  src/features/oauthPlayground/components/ClientCredentialsFlow.tsx
  src/features/oauthPlayground/components/TokenExchange.tsx
  src/features/oauthPlayground/utils/token-response.ts
  src/features/tokenInspector/components/TokenInput.tsx
  src/features/tokenInspector/components/TokenJwksResolver.tsx
  src/features/tokenInspector/components/TokenSignature.tsx
  src/features/tokenInspector/components/TokenTimeline.tsx
  src/features/tokenInspector/hooks/useTokenDecoder.ts
  src/features/tokenInspector/utils/token-validation.ts
  src/hooks/data-fetching/useJwks.ts
  src/lib/cache/resource-cache.ts
  src/lib/jwt/decode-token.ts
  src/lib/jwt/numeric-date.ts
  src/lib/jwt/verify-signature-with-refresh.ts
  src/tests/components/token-exchange.test.tsx
  src/tests/components/token-input.test.tsx
  src/tests/components/token-jwks-resolver.test.tsx
  src/tests/components/token-timeline.test.tsx
  src/tests/features/decode-token.test.ts
  src/tests/features/oauth-token-response.test.ts
  src/tests/features/token-validation.test.ts
  src/tests/hooks/use-token-decoder.test.tsx
  src/tests/lib/jwks-cache.test.ts
  src/tests/lib/oidc-config-cache.test.ts
  src/tests/lib/resource-cache.test.ts
  src/tests/lib/verify-signature-with-refresh.test.ts
Due: prettier, eslint

feat: add searchable tool catalog and accessible navigation
  src/app.tsx
  src/components/command-center/command-center.tsx
  src/components/common/FormField.tsx
  src/components/layout/index.tsx
  src/components/navigation/app-sidebar.tsx
  src/components/page/index.tsx
  src/components/ui/sidebar.tsx
  src/features/home/index.tsx
  src/features/home/quick-access.tsx
  src/features/home/tool-catalog-browser.tsx
  src/index.css
  src/lib/tool-search.ts
  src/main.tsx
  src/tests/components/app-sidebar.test.tsx
  src/tests/components/command-center.test.tsx
  src/tests/components/form-field.test.tsx
  src/tests/components/tool-catalog-browser.test.tsx
  src/tests/lib/tool-search.test.ts
  src/tests/preload.ts
Due: prettier, eslint

fix: harden worker boundaries and recover persisted state
  .github/workflows/bun-tests.yml
  .github/workflows/release.yml
  .github/workflows/wrangler-deploy.yml
  .github/workflows/wrangler-preview.yml
  README.md
  bun.lock
  e2e/README.md
  e2e/production.config.ts
  e2e/production/pwa.e2e.ts
  package.json
  public/_headers
  src/hooks/use-async-fetch.ts
  src/hooks/use-clipboard.ts
  src/hooks/use-local-storage.ts
  src/hooks/use-url-params.ts
  src/lib/state/app-state-context.tsx
  src/lib/state/sanitize.ts
  src/tests/hooks/use-async-fetch.test.ts
  src/tests/hooks/use-clipboard.test.ts
  src/tests/hooks/use-local-storage.test.ts
  src/tests/hooks/use-url-params.test.tsx
  src/tests/lib/app-state-recovery.test.tsx
  src/tests/lib/worker-boundaries.test.ts
  src/worker.ts
  vite.config.ts
  wrangler.jsonc
Due: prettier, eslint

Notes added by 'git notes add'
  15ac8dff2e502d82118af1851a0c6d2150f3bdaa
Due: none

chore: bump deps
  bun.lock
  package.json
Due: prettier

chore: bump deps (#430)
  bun.lock
  package.json
Due: prettier

chore(ci): retain only E2E failure diagnostics
  .github/workflows/bun-tests.yml
Due: prettier

chore(ci): retain only E2E failure diagnostics (#431)
  .github/workflows/bun-tests.yml
Due: prettier

chore(deps): bump dependencies to latest
  bun.lock
  package.json
Due: prettier

chore(deps): bump dependencies to latest (#433)
  bun.lock
  package.json
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, \.css$, \.scss$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
