Repository r-cz/iam-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier (bun)
  entry: bunx prettier
  language: system
  args:
  - --write
  - --ignore-unknown
  pass_filenames: true

eslint:
  name: eslint (typescript)
  entry: bunx eslint
  language: system
  args:
  - --max-warnings=0
  - --no-warn-ignored
  pass_filenames: true

fix: bump deps
  bun.lock
  package.json
  src/components/common/EnvironmentProfileDialog.tsx
  src/components/common/EnvironmentProfileSelector.tsx
  src/components/navigation/nav-help.tsx
  src/components/navigation/nav-settings.tsx
  src/components/ui/switch.tsx
  tsconfig.app.json
  tsconfig.json
  tsconfig.test.json
Due: prettier, eslint

feat: add LDAP docs and E2E route smoke coverage (#400)
  README.md
  bun.lock
  docs/README.md
  docs/feature-guides/README.md
  docs/feature-guides/ldap-suite.md
  docs/file-structure.md
  e2e/README.md
  e2e/playwright.config.ts
  e2e/tests/routed-feature-smoke.e2e.ts
  package.json
  src/components/common/EnvironmentProfileDialog.tsx
  src/components/common/EnvironmentProfileSelector.tsx
  src/components/navigation/nav-help.tsx
  src/components/navigation/nav-settings.tsx
  src/components/ui/switch.tsx
  src/features/home/index.tsx
  src/features/index.ts
  src/features/ldap/index.ts
  src/features/not-found/index.tsx
  src/features/oauthPlayground/index.tsx
  src/features/oidcExplorer/index.tsx
  src/features/saml/index.tsx
  src/features/tokenInspector/components/TokenJwksResolver.tsx
  src/features/tokenInspector/index.tsx
  src/lib/jwt/generate-signed-token.ts
  src/tests/components/token-jwks-resolver.test.tsx
  src/tests/features/feature-barrel-exports.test.ts
  src/tests/lib/generate-signed-token.test.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.test.json
Due: prettier, eslint

Notes added by 'git notes add'
  f6794886bfe2addaee5f79ac54cd0e6f0beb8a85
Due: none

fix: launch demo auth page instead of 404
  e2e/tests/oauth-playground-auth-code.e2e.ts
  src/features/oauthPlayground/components/ConfigurationForm.tsx
Due: prettier, eslint

fix: launch demo auth page instead of 404 (#401)
  e2e/tests/oauth-playground-auth-code.e2e.ts
  src/features/oauthPlayground/components/ConfigurationForm.tsx
Due: prettier, eslint

Notes added by 'git notes add'
  043209aefa058e13fa0053f28c04ee554096fa48
Due: none

fix: align oauth demo auth code exchange flow
  e2e/tests/oauth-playground-auth-code.e2e.ts
  src/features/oauthPlayground/components/TokenExchange.tsx
  src/features/oauthPlayground/pages/demo-auth.tsx
  src/worker.ts
  wrangler.jsonc
Due: prettier, eslint

fix: align oauth demo auth code exchange flow (#402)
  e2e/tests/oauth-playground-auth-code.e2e.ts
  src/features/oauthPlayground/components/TokenExchange.tsx
  src/features/oauthPlayground/pages/demo-auth.tsx
  src/worker.ts
  wrangler.jsonc
Due: prettier, eslint

Notes added by 'git notes add'
  435cf685e52cabba8b18138d55ba1d0ef43fef14
Due: none

feat: wrangler updates and dep bumps
  bun.lock
  package.json
  wrangler.jsonc
Due: prettier

ci: skip preview workflows for dependabot
  .github/dependabot.yml
  .github/workflows/wrangler-preview.yml
Due: prettier

chore: set dependabot pull request limit
  .github/dependabot.yml
Due: prettier

chore: refresh lockfile dependencies for observability and UI packages (#416)
  .github/dependabot.yml
  .github/workflows/wrangler-preview.yml
  bun.lock
  package.json
  wrangler.jsonc
Due: prettier

fix: improve clipboard fallback and form label hookups
  e2e/tests/oauth-playground-auth-code.e2e.ts
  e2e/tests/oauth-playground-userinfo.e2e.ts
  e2e/tests/saml-sp-metadata.e2e.ts
  src/components/common/CopyButton.tsx
  src/features/ldap/pages/ldif-builder/index.tsx
  src/features/oauthPlayground/components/ConfigurationForm.tsx
  src/features/saml/components/LaunchTab.tsx
  src/features/saml/components/RequestFormFields.tsx
  src/features/saml/hooks/useSamlRequestBuilder.ts
  src/features/saml/pages/sp-metadata/index.tsx
  src/hooks/use-clipboard.ts
  src/tests/hooks/use-clipboard.test.ts
Due: prettier, eslint

fix: improve clipboard fallback and form label hookups (#419)
  e2e/tests/oauth-playground-auth-code.e2e.ts
  e2e/tests/oauth-playground-userinfo.e2e.ts
  e2e/tests/saml-sp-metadata.e2e.ts
  src/components/common/CopyButton.tsx
  src/features/ldap/pages/ldif-builder/index.tsx
  src/features/oauthPlayground/components/ConfigurationForm.tsx
  src/features/saml/components/LaunchTab.tsx
  src/features/saml/components/RequestFormFields.tsx
  src/features/saml/hooks/useSamlRequestBuilder.ts
  src/features/saml/pages/sp-metadata/index.tsx
  src/hooks/use-clipboard.ts
  src/tests/hooks/use-clipboard.test.ts
Due: prettier, eslint

Notes added by 'git notes add'
  ce9692289a96e03b23318a3b504defa58ecbbdf4
Due: none

Notes added by 'git notes add'
  5cde322bf4e678113ba485b30dea8fe9b8602a95
Due: none

feat: typescript 7
  bun.lock
  package.json
Due: prettier

build: switch to native tsc and patch test DOM preload
  bun.lock
  package.json
  src/tests/preload.ts
Due: prettier, eslint

feat: typescript 7 (#421)
  bun.lock
  package.json
  src/tests/preload.ts
Due: prettier, eslint

Notes added by 'git notes add'
  d3df4dc9cab033383a93bd98b75115882e58412c
Due: none

fix: prevent repeated OIDC discovery retries
  src/features/tokenInspector/components/TokenJwksResolver.tsx
  src/features/tokenInspector/components/TokenSignature.tsx
  src/features/tokenInspector/index.tsx
  src/tests/components/token-jwks-resolver.test.tsx
  src/tests/features/token-inspector-integration.test.tsx
Due: prettier, eslint

fix: prevent repeated OIDC discovery retries (#422)
  src/features/tokenInspector/components/TokenJwksResolver.tsx
  src/features/tokenInspector/components/TokenSignature.tsx
  src/features/tokenInspector/index.tsx
  src/tests/components/token-jwks-resolver.test.tsx
  src/tests/features/token-inspector-integration.test.tsx
Due: prettier, eslint

Notes added by 'git notes add'
  b3428f5875e5b1c5609748a00420a10158a5b31e
Due: none

fix: hide stale JWKS discovery errors when bypassed
  src/features/tokenInspector/components/TokenJwksResolver.tsx
  src/tests/components/token-jwks-resolver.test.tsx
Due: prettier, eslint

fix: hide stale JWKS discovery errors when bypassed (#423)
  src/features/tokenInspector/components/TokenJwksResolver.tsx
  src/tests/components/token-jwks-resolver.test.tsx
Due: prettier, eslint

Notes added by 'git notes add'
  29a6a72d8c1b0ac2b37ddc4e6fb1e50be28d87a5
Due: none

feat: commands and health check
  src/components/command-center/command-center.tsx
  src/components/command-center/index.ts
  src/components/layout/index.tsx
  src/components/navigation/nav-settings.tsx
  src/config/tool-catalog.ts
  src/features/environment-health/components/health-results.tsx
  src/features/environment-health/components/health-status.tsx
  src/features/environment-health/index.tsx
  src/features/environment-health/report.ts
  src/features/home/index.tsx
  src/features/home/quick-access.tsx
  src/features/oauthPlayground/components/ClientCredentialsFlow.tsx
  src/features/oauthPlayground/components/TokenExchange.tsx
  src/features/oauthPlayground/components/TokenIntrospection.tsx
  src/features/oauthPlayground/components/UserInfo.tsx
  src/features/oauthPlayground/utils/oidc-preflight.ts
  src/features/token-comparison/pages/index.tsx
  src/features/tokenInspector/components/TokenInput.tsx
  src/features/tokenInspector/index.tsx
  src/features/tokenInspector/pages/index.tsx
  src/lib/handoff.ts
  src/lib/network/target-safety.ts
  src/lib/state/constants.ts
  src/lib/state/index.ts
  src/lib/state/tool-preferences-context.tsx
  src/lib/tool-search.ts
  src/main.tsx
  src/tests/components/command-center.test.tsx
  src/tests/components/quick-access.test.tsx
  src/tests/features/environment-health-report.test.ts
  src/tests/features/environment-health.test.tsx
  src/tests/features/oidc-preflight.test.ts
  src/tests/features/token-handoff-integration.test.tsx
  src/tests/lib/handoff.test.ts
  src/tests/lib/target-safety.test.ts
  src/tests/lib/tool-preferences-state.test.tsx
  src/tests/lib/tool-search.test.ts
  src/tests/lib/worker.test.ts
  src/worker.ts
Due: prettier, eslint

feat: commands and health check (#424)
  src/components/command-center/command-center.tsx
  src/components/command-center/index.ts
  src/components/layout/index.tsx
  src/components/navigation/nav-settings.tsx
  src/config/tool-catalog.ts
  src/features/environment-health/components/health-results.tsx
  src/features/environment-health/components/health-status.tsx
  src/features/environment-health/index.tsx
  src/features/environment-health/report.ts
  src/features/home/index.tsx
  src/features/home/quick-access.tsx
  src/features/oauthPlayground/components/ClientCredentialsFlow.tsx
  src/features/oauthPlayground/components/TokenExchange.tsx
  src/features/oauthPlayground/components/TokenIntrospection.tsx
  src/features/oauthPlayground/components/UserInfo.tsx
  src/features/oauthPlayground/utils/oidc-preflight.ts
  src/features/token-comparison/pages/index.tsx
  src/features/tokenInspector/components/TokenInput.tsx
  src/features/tokenInspector/index.tsx
  src/features/tokenInspector/pages/index.tsx
  src/lib/handoff.ts
  src/lib/network/target-safety.ts
  src/lib/state/constants.ts
  src/lib/state/index.ts
  src/lib/state/tool-preferences-context.tsx
  src/lib/tool-search.ts
  src/main.tsx
  src/tests/components/command-center.test.tsx
  src/tests/components/quick-access.test.tsx
  src/tests/features/environment-health-report.test.ts
  src/tests/features/environment-health.test.tsx
  src/tests/features/oidc-preflight.test.ts
  src/tests/features/token-handoff-integration.test.tsx
  src/tests/lib/handoff.test.ts
  src/tests/lib/target-safety.test.ts
  src/tests/lib/tool-preferences-state.test.tsx
  src/tests/lib/tool-search.test.ts
  src/tests/lib/worker.test.ts
  src/worker.ts
Due: prettier, eslint

Notes added by 'git notes add'
  654bbe968b7a1452bea154a0f60e5ca1b47e5a12
Due: none

feat: commands improvements
  docs/api.md
  src/components/command-center/command-center.tsx
  src/features/oauthPlayground/utils/oidc-preflight.ts
  src/lib/tool-search.ts
  src/tests/components/command-center.test.tsx
  src/tests/features/oidc-preflight.test.ts
  src/tests/lib/tool-search.test.ts
  src/tests/lib/worker.test.ts
  src/worker.ts
Due: prettier, eslint

Feat/commands2 (#425)
  docs/api.md
  src/components/command-center/command-center.tsx
  src/features/oauthPlayground/utils/oidc-preflight.ts
  src/lib/tool-search.ts
  src/tests/components/command-center.test.tsx
  src/tests/features/oidc-preflight.test.ts
  src/tests/lib/tool-search.test.ts
  src/tests/lib/worker.test.ts
  src/worker.ts
Due: prettier, eslint

feat: bun 1.4
  bun.lock
  package.json
Due: prettier

fix: support TypeScript 7 alongside ESLint
  bun.lock
  package.json
Due: prettier

feat: bun 1.4 (#427)
  bun.lock
  package.json
Due: prettier

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, \.css$, \.scss$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
