Repository r-cz/iam-tools: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier (bun)
  entry: bunx prettier
  language: system
  args:
  - --write
  - --ignore-unknown
  pass_filenames: true

eslint:
  name: eslint (typescript)
  entry: bunx eslint
  language: system
  args:
  - --max-warnings=0
  - --no-warn-ignored
  pass_filenames: true

feat: pre-commit addition (#260)
  .gitignore
  .pre-commit-config.yaml
  README.md
  bun.lock
  e2e/tests/oidc-explorer.e2e.ts
  eslint.config.js
  package.json
  public/icons/favicon.svg
  public/robots.txt
  src/components/common/FormField.tsx
  src/components/ui/button-group.tsx
  src/components/ui/empty.tsx
  src/components/ui/field.tsx
  src/components/ui/input-group.tsx
  src/components/ui/item.tsx
  src/components/ui/kbd.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/spinner.tsx
  src/features/home/index.tsx
  src/features/ldap/pages/ldif-builder/index.tsx
  src/features/ldap/pages/schema-explorer/index.tsx
  src/features/ldap/utils/parse-ldif.ts
  src/features/ldap/utils/parse-schema.ts
  src/features/oauthPlayground/components/ClientCredentialsFlow.tsx
  src/features/oauthPlayground/components/ConfigurationForm.tsx
  src/features/oauthPlayground/components/TokenIntrospection.tsx
  src/features/oauthPlayground/components/UserInfo.tsx
  src/features/oidcExplorer/components/ConfigInput.tsx
  src/features/oidcExplorer/components/ProviderInfo.tsx
  src/features/oidcExplorer/index.tsx
  src/features/saml/components/SamlResponseDecoder.tsx
  src/features/saml/pages/request-builder/index.tsx
  src/features/tokenInspector/index.tsx
Due: prettier, eslint

fix: bun update and bun test fix
  bun.lock
  bunfig.toml
  package.json
  src/tests/lib/proxy-fetch.test.ts
  src/tests/lib/resource-cache.test.ts
  src/tests/utils/dom-setup.ts
  src/tests/utils/test-api-mocks.test.ts
  src/tests/utils/test-api-mocks.ts
Due: prettier, eslint

fix: bun update and bun test fix (#276)
  bun.lock
  bunfig.toml
  package.json
  src/tests/lib/proxy-fetch.test.ts
  src/tests/lib/resource-cache.test.ts
  src/tests/utils/dom-setup.ts
  src/tests/utils/test-api-mocks.test.ts
  src/tests/utils/test-api-mocks.ts
Due: prettier, eslint

fix: improve dark mode contrast for homepage cards
  src/features/home/index.tsx
Due: prettier, eslint

fix: improve dark mode contrast for homepage cards (#283)
  src/features/home/index.tsx
Due: prettier, eslint

chore: update dependencies
  bun.lock
  package.json
Due: prettier

chore: update dependencies (#284)
  bun.lock
  package.json
Due: prettier

refactor: extract components and hooks for improved maintainability
  bunfig.toml
  e2e/tests/ldap-ldif-builder.e2e.ts
  e2e/tests/ldap-schema-explorer.e2e.ts
  src/features/ldap/components/QuickMetrics.tsx
  src/features/ldap/components/ValidationResults.tsx
  src/features/ldap/hooks/useLdifValidation.ts
  src/features/ldap/hooks/useSchemaDetails.ts
  src/features/ldap/pages/ldif-builder/index.tsx
  src/features/saml/components/LaunchTab.tsx
  src/features/saml/components/RequestFormFields.tsx
  src/features/saml/hooks/useSamlRequestBuilder.ts
  src/features/saml/pages/request-builder/index.tsx
  src/features/tokenInspector/components/TokenStatusBadges.tsx
  src/features/tokenInspector/hooks/useTokenDecoder.ts
  src/features/tokenInspector/index.tsx
  src/tests/features/ldap-parse-ldif.test.ts
  src/tests/features/ldap-parse-schema.test.ts
  src/tests/features/saml-decoder.test.ts
  src/tests/preload.ts
  src/tests/utils/dom-setup.ts
Due: prettier, eslint

refactor: extract components and hooks for improved maintainability (#285)
  bunfig.toml
  e2e/tests/ldap-ldif-builder.e2e.ts
  e2e/tests/ldap-schema-explorer.e2e.ts
  src/features/ldap/components/QuickMetrics.tsx
  src/features/ldap/components/ValidationResults.tsx
  src/features/ldap/hooks/useLdifValidation.ts
  src/features/ldap/hooks/useSchemaDetails.ts
  src/features/ldap/pages/ldif-builder/index.tsx
  src/features/saml/components/LaunchTab.tsx
  src/features/saml/components/RequestFormFields.tsx
  src/features/saml/hooks/useSamlRequestBuilder.ts
  src/features/saml/pages/request-builder/index.tsx
  src/features/tokenInspector/components/TokenStatusBadges.tsx
  src/features/tokenInspector/hooks/useTokenDecoder.ts
  src/features/tokenInspector/index.tsx
  src/tests/features/ldap-parse-ldif.test.ts
  src/tests/features/ldap-parse-schema.test.ts
  src/tests/features/saml-decoder.test.ts
  src/tests/preload.ts
  src/tests/utils/dom-setup.ts
Due: prettier, eslint

fix: remove coverageThreshold to prevent CI failure
  bunfig.toml
Due: none

fix: remove coverageThreshold to prevent CI failure (#286)
  bunfig.toml
Due: none

fix: resolve E2E test failures in LDAP tests
  e2e/tests/ldap-ldif-builder.e2e.ts
  e2e/tests/ldap-schema-explorer.e2e.ts
Due: prettier, eslint

fix: resolve E2E test failures in LDAP tests (#287)
  e2e/tests/ldap-ldif-builder.e2e.ts
  e2e/tests/ldap-schema-explorer.e2e.ts
Due: prettier, eslint

chore: update dependencies with bun update --latest
  bun.lock
  package.json
Due: prettier

chore: update dependencies with bun update --latest (#297)
  bun.lock
  package.json
Due: prettier

feat: add bug fixes, accessibility improvements, and production readiness
  bun.lock
  package.json
  src/components/common/CopyButton.tsx
  src/components/common/PageLoading.tsx
  src/components/layout/index.tsx
  src/features/not-found/index.tsx
  src/features/oauthPlayground/components/AuthorizationRequest.tsx
  src/features/oauthPlayground/components/ClientCredentialsFlow.tsx
  src/features/oauthPlayground/components/ConfigurationForm.tsx
  src/features/oauthPlayground/components/TokenIntrospection.tsx
  src/features/oauthPlayground/components/UserInfo.tsx
  src/features/oidcExplorer/index.tsx
  src/features/oidcExplorer/utils/config-helpers.ts
  src/features/saml/hooks/useSamlRequestBuilder.ts
  src/features/tokenInspector/components/TokenInput.tsx
  src/features/tokenInspector/components/TokenJwksResolver.tsx
  src/features/tokenInspector/components/TokenSize.tsx
  src/features/tokenInspector/pages/index.tsx
  src/features/tokenInspector/utils/generate-token.ts
  src/hooks/data-fetching/useJwks.ts
  src/index.css
  src/lib/jwt/generate-signed-token.ts
  src/lib/jwt/verify-signature.ts
  src/lib/state/utils.ts
  src/main.tsx
Due: prettier, eslint

fix: update E2E test locator to be more specific
  e2e/tests/saml-signature-verify.e2e.ts
Due: prettier, eslint

feat: add bug fixes, accessibility improvements, and production readiness (#298)
  bun.lock
  e2e/tests/saml-signature-verify.e2e.ts
  package.json
  src/components/common/CopyButton.tsx
  src/components/common/PageLoading.tsx
  src/components/layout/index.tsx
  src/features/not-found/index.tsx
  src/features/oauthPlayground/components/AuthorizationRequest.tsx
  src/features/oauthPlayground/components/ClientCredentialsFlow.tsx
  src/features/oauthPlayground/components/ConfigurationForm.tsx
  src/features/oauthPlayground/components/TokenIntrospection.tsx
  src/features/oauthPlayground/components/UserInfo.tsx
  src/features/oidcExplorer/index.tsx
  src/features/oidcExplorer/utils/config-helpers.ts
  src/features/saml/hooks/useSamlRequestBuilder.ts
  src/features/tokenInspector/components/TokenInput.tsx
  src/features/tokenInspector/components/TokenJwksResolver.tsx
  src/features/tokenInspector/components/TokenSize.tsx
  src/features/tokenInspector/pages/index.tsx
  src/features/tokenInspector/utils/generate-token.ts
  src/hooks/data-fetching/useJwks.ts
  src/index.css
  src/lib/jwt/generate-signed-token.ts
  src/lib/jwt/verify-signature.ts
  src/lib/state/utils.ts
  src/main.tsx
Due: prettier, eslint

test: add comprehensive test suite for P1 and P2 features
  bun.lock
  e2e/tests/ldap-ldif-builder.e2e.ts
  e2e/tests/ldap-schema-explorer.e2e.ts
  package.json
  src/components/ui/checkbox.tsx
  src/components/ui/dialog.tsx
  src/features/ldap/data/builtin-schemas.ts
  src/features/ldap/hooks/useMergedSchemaDetails.ts
  src/features/ldap/pages/ldif-builder/index.tsx
  src/features/ldap/pages/schema-explorer/index.tsx
  src/features/ldap/utils/parse-ldif.ts
  src/tests/features/decode-token.test.ts
  src/tests/features/ldap-builtin-schemas.test.ts
  src/tests/features/ldap-merged-schema.test.ts
  src/tests/features/ldap-parse-ldif.test.ts
  src/tests/features/ldap-validation.test.ts
  src/tests/features/oidc-config-helpers.test.ts
  src/tests/features/pkce.test.ts
  src/tests/features/saml-request.test.ts
  src/tests/features/token-validation.test.ts
  src/tests/features/xml-format.test.ts
  src/tests/hooks/use-async-fetch.test.ts
  src/tests/hooks/use-debounce.test.ts
  src/tests/hooks/use-url-params.test.tsx
Due: prettier, eslint

test: add comprehensive test suite for P1 and P2 features (#302)
  bun.lock
  e2e/tests/ldap-ldif-builder.e2e.ts
  e2e/tests/ldap-schema-explorer.e2e.ts
  package.json
  src/components/ui/checkbox.tsx
  src/components/ui/dialog.tsx
  src/features/ldap/data/builtin-schemas.ts
  src/features/ldap/hooks/useMergedSchemaDetails.ts
  src/features/ldap/pages/ldif-builder/index.tsx
  src/features/ldap/pages/schema-explorer/index.tsx
  src/features/ldap/utils/parse-ldif.ts
  src/tests/features/decode-token.test.ts
  src/tests/features/ldap-builtin-schemas.test.ts
  src/tests/features/ldap-merged-schema.test.ts
  src/tests/features/ldap-parse-ldif.test.ts
  src/tests/features/ldap-validation.test.ts
  src/tests/features/oidc-config-helpers.test.ts
  src/tests/features/pkce.test.ts
  src/tests/features/saml-request.test.ts
  src/tests/features/token-validation.test.ts
  src/tests/features/xml-format.test.ts
  src/tests/hooks/use-async-fetch.test.ts
  src/tests/hooks/use-debounce.test.ts
  src/tests/hooks/use-url-params.test.tsx
Due: prettier, eslint

chore: update all dependencies to latest versions
  bun.lock
  package.json
  src/features/saml/utils/signature-verify.ts
Due: prettier, eslint

perf: increase e2e test parallelism from 1 to 4 workers
  .github/workflows/bun-tests.yml
  e2e/playwright.config.ts
Due: prettier, eslint

chore: update all dependencies to latest versions (#322)
  .github/workflows/bun-tests.yml
  bun.lock
  e2e/playwright.config.ts
  package.json
  src/features/saml/utils/signature-verify.ts
Due: prettier, eslint

fix: correct YAML indentation in workflow file
  .github/workflows/bun-tests.yml
Due: prettier

chore: update dependencies and optimize e2e test performance
  .github/workflows/bun-tests.yml
Due: prettier

test: cover worker endpoints and tune e2e runs
  README.md
  bun.lock
  e2e/playwright.config.ts
  package.json
  src/hooks/data-fetching/useOidcConfig-refactored.ts
  src/tests/lib/worker.test.ts
  src/worker.ts
Due: prettier, eslint

test: cover worker endpoints and tune e2e runs (#328)
  README.md
  bun.lock
  e2e/playwright.config.ts
  package.json
  src/hooks/data-fetching/useOidcConfig-refactored.ts
  src/tests/lib/worker.test.ts
  src/worker.ts
Due: prettier, eslint

feat: expand oauth playground demo and saml tooling
  .github/workflows/release.yml
  bun.lock
  docs/api.md
  docs/architecture.md
  docs/feature-guides/oauth-playground.md
  docs/feature-guides/saml-suite.md
  e2e/helpers/selectors.ts
  e2e/tests/oauth-playground-client-credentials.e2e.ts
  package.json
  src/components/navigation/nav-settings.tsx
  src/features/oauthPlayground/components/AuthorizationRequest.tsx
  src/features/oauthPlayground/components/ClientCredentialsFlow.tsx
  src/features/oauthPlayground/components/ConfigurationForm.tsx
  src/features/oauthPlayground/components/TokenExchange.tsx
  src/features/oauthPlayground/components/TokenIntrospection.tsx
  src/features/oauthPlayground/components/UserInfo.tsx
  src/features/oauthPlayground/utils/demo-server.ts
  src/features/oauthPlayground/utils/types.ts
  src/features/saml/components/LaunchTab.tsx
  src/features/saml/components/SamlResponseDecoder.tsx
  src/features/saml/pages/metadata-validator/index.tsx
  src/features/saml/utils/redirect-signing.ts
  src/features/saml/utils/saml-decoder.ts
  src/tests/features/oauth-playground-integration.test.tsx
  src/vite-env.d.ts
  src/worker.ts
  vite.config.ts
Due: prettier, eslint

fix: add missing refreshTokens function
  src/features/oauthPlayground/components/AuthCodeWithPkceFlow.tsx
  src/features/oauthPlayground/components/AuthorizationRequest.tsx
  src/features/oauthPlayground/components/TokenExchange.tsx
  src/features/oauthPlayground/pages/callback.tsx
  src/features/oauthPlayground/utils/types.ts
Due: prettier, eslint

Expand OAuth playground demo and SAML tooling (#329)
  .github/workflows/release.yml
  bun.lock
  docs/api.md
  docs/architecture.md
  docs/feature-guides/oauth-playground.md
  docs/feature-guides/saml-suite.md
  e2e/helpers/selectors.ts
  e2e/tests/oauth-playground-client-credentials.e2e.ts
  package.json
  src/components/navigation/nav-settings.tsx
  src/features/oauthPlayground/components/AuthCodeWithPkceFlow.tsx
  src/features/oauthPlayground/components/AuthorizationRequest.tsx
  src/features/oauthPlayground/components/ClientCredentialsFlow.tsx
  src/features/oauthPlayground/components/ConfigurationForm.tsx
  src/features/oauthPlayground/components/TokenExchange.tsx
  src/features/oauthPlayground/components/TokenIntrospection.tsx
  src/features/oauthPlayground/components/UserInfo.tsx
  src/features/oauthPlayground/pages/callback.tsx
  src/features/oauthPlayground/utils/demo-server.ts
  src/features/oauthPlayground/utils/types.ts
  src/features/saml/components/LaunchTab.tsx
  src/features/saml/components/SamlResponseDecoder.tsx
  src/features/saml/pages/metadata-validator/index.tsx
  src/features/saml/utils/redirect-signing.ts
  src/features/saml/utils/saml-decoder.ts
  src/tests/features/oauth-playground-integration.test.tsx
  src/vite-env.d.ts
  src/worker.ts
  vite.config.ts
Due: prettier, eslint

fix: update release workflow to use Node.js 22 for semantic-release compatibility
  .github/workflows/release.yml
Due: prettier

fix: add Node.js 22 setup to release workflow for semantic-release compatibility
  .github/workflows/release.yml
Due: prettier

fix: add Node.js 22 setup to release workflow for semantic-release compatibility (#330)
  .github/workflows/release.yml
Due: prettier

fix: add conventional-changelog-conventionalcommits dependency for semantic-release
  package.json
Due: prettier

fix: add conventional-changelog-conventionalcommits dependency for semantic-release (#331)
  package.json
Due: prettier

fix: remove @semantic-release/git plugin to avoid branch protection conflicts
  package.json
Due: prettier

fix: remove semantic-release/git plugin to fix PR rule violations
  bun.lock
  package.json
Due: prettier

fix: remove semantic-release/git plugin to fix PR rule violations (#332)
  bun.lock
  package.json
Due: prettier

Notes added by 'git notes add'
  b6d7ac27fe6dca264f6191f341cbeefd94bf49bc
Due: none

Path conditions:
  prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.json$, \.(yaml|yml)$, \.(md|markdown|mdown)$, \.(html|htm|xhtml)$, \.css$, \.scss$
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
